<h1>About Us</h1>
<hr>

<p>
  Rabbit-cc is a cryptocurrency exchange.
  <br>
  Founded with a focus on trust, security and reliability, our goal has always been to 
  <b>create a safe and accessible place to trade and invest in cryptocurrencies</b>.
  Rabbit-cc’s history is not so long, but it is rising now.
</p>

<br>
<h3>
  Rabbit-cc Ltd
</h3>
<p>
  <b>Rabbit-cc’s team is passionate about Cryptocurrency.</b>
</p>
<p>
  The promise of Cryptocurrency as an asset and money system is something that brings us all together.
  Our team has worked together at multiple businesses over the last 10 years.
  <br>
  <b>Obi Nwosu</b> (CEO) has over 20 years of experience building online marketplaces including QXL and WeeWorld, a service where tens of millions of users bought virtual items using a virtual currency.
  <br>
  <b>Mark Lamb</b> (Commercial Director) was one of the UK's first bitcoin brokers, at one point personally handling over 10% of UK bitcoin volume. He is also on the Forbes "30 under 30" list for people in Finance.
</p>

<br>
<h3>
  Rabbit-cc Investors
</h3>
<p>
  Rabbit-cc has attracted funding from greatest investors.
</p>

<br>
<h3>
  Rabbit-cc Partners
</h3>
<p>
  Rabbit-cc has attracted funding from greatest partners.
</p>

<br>
<p>
  Our Team and Investors work together to provide a reliable and safe Cryptocurrency exchange, enabling more people to invest and trade in one of the most revolutionary inventions of our time.
</p>

<br>
<p>
  Rabbit-cc is a company registered in England　and Wales registration number 08493818.
  <br>
  Registered office at 1 Quality Court, WC2A 1HR London, United Kingdom.
</p>
<hr>