<h1>Fee Policies</h1>
<hr>

<h3>
  General fees
</h3>
<p>
  Creating a CryptBankService account is free of charge.
</p>
<p>
  Storing cryptocurrencies in CryptBankService's secure vaults is free of charge.
</p>

<br>
<h3>
  Exchange Trading fees
</h3>
<p>
  Default trade fee is 0% per each market pair.
</p>

<br>
<h3>
  Deposit and Withdrawal fees
</h3>
<p>
  Cryptocurrency deposits are free of charge and there is a minimum deposit amount.
  <br>
  There is a nominal charge for cryptocurrency withdrawals to cover miner fees.
</p>
<br>
<table class="table table-bordered table-hover table-fees padding_bottom_but">
  <thead>
  <tr>
    <td width="30%">Asset</td>
    <td width="15%"><strong>Deposit fee</strong></td>
    <td width="20%">Minimum deposit amount</td>
    <td width="15%"><strong>Withdrawal fee</strong></td>
    <td width="20%">Minimum withdrawal amount</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><strong>Bitcoin (XBT)</strong></td>
    <td>0.0000 XBT</td>
    <td>0.0001 XBT</td>
    <td>0.0005 XBT</td>
    <td>0.0050 XBT</td>
  </tr>
  </tbody>
</table>
