- id: 2
  key: satoshi
  name: Bitcoin
  code: btc
  symbol: "฿"
  type: coin
  precision: 8
  base_factor: 100_000_000
  quick_withdraw_max: 0
  min_confirm: 1
  max_confirm: 3
  api_client: BTC
  rpc: http://btc:btc@0.0.0.0:8332
  info_url: https://coinmarketcap.com/currencies/bitcoin
  blockchain: https://blockchain.com/btc/tx/#{txid}
  address_url: https://blockchain.com/btc/address/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0.0001}
  withdraw: {fee: 0, min_amount: 0.0050}

- id: 3
  key: ethereum
  name: Ethereum
  code: eth
  symbol: "Ξ"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  quick_withdraw_max: 0
  min_confirm: 1
  max_confirm: 3
  api_client: ETH
  rpc: http://0.0.0.0:8545
  info_url: https://coinmarketcap.com/currencies/ethereum
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/address/#{address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0.0001}
  withdraw: {fee: 0, min_amount: 0.0050}

- id: 4
  key: litecoin
  name: Litecoin
  code: ltc
  symbol: "Ł"
  type: coin
  precision: 8
  base_factor: 100_000_000
  quick_withdraw_max: 0
  min_confirm: 1
  max_confirm: 3
  api_client: BTC
  rpc: http://ltc:ltc@0.0.0.0:9332
  info_url: https://coinmarketcap.com/currencies/litecoin
  blockchain: http://explorer.litecoin.net/tx/#{txid}
  address_url: http://explorer.litecoin.net/address/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0.0001}
  withdraw: {fee: 0, min_amount: 0.0050}

- id: 5
  key: sakurabloom
  name: Sakura Bloom
  code: skb
  symbol: "SKB"
  type: coin
  precision: 8
  base_factor: 100_000_000
  quick_withdraw_max: 0
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0x4af328c52921706dcb739f25786210499169afe6'
  api_client: ERC20
  rpc: http://0.0.0.0:8545
  info_url: https://coinmarketcap.com/currencies/sakura-bloom/
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0x4af328c52921706dcb739f25786210499169afe6?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0.0001}
  withdraw: {fee: 0, min_amount: 0.0050}

- id: 6
  key: masoyamacoin
  name: Mas Oyama Coin
  code: mas
  symbol: "MAS"
  type: coin
  precision: 8
  base_factor: 100_000_000
  quick_withdraw_max: 0
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0xf355164187e533b1969b4de46737c4e8bc9ae7e2'
  api_client: ERC20
  rpc: http://0.0.0.0:8545
  info_url: https://etherscan.io/token/0xf355164187e533b1969b4de46737c4e8bc9ae7e2
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0xf355164187e533b1969b4de46737c4e8bc9ae7e2?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0.0001}
  withdraw: {fee: 0, min_amount: 0.0050}