- id: 1
  name: Bitcoin
  code: btc
  symbol: "฿"
  type: coin
  precision: 8
  base_factor: 100_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: BTC
  rpc: http://btcrpc:txGctHLt6uh9dB5Sakbtc@172.31.32.169:8342
  info_url: https://coinmarketcap.com/currencies/bitcoin
  blockchain: https://blockchain.com/btc/tx/#{txid}
  address_url: https://blockchain.com/btc/address/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.0005, min_amount: 0.002, quick_max: 0}

- id: 2
  name: Ethereum
  code: eth
  symbol: "Ξ"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: ETH
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/ethereum
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/address/#{address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.01, min_amount: 0.02, quick_max: 0}

- id: 3
  name: XRP
  code: xrp
  symbol: "XRP"
  type: coin
  precision: 6
  base_factor: 1_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: XRP
  rpc: http://172.31.32.243:5015
  info_url: https://coinmarketcap.com/currencies/ripple
  blockchain: https://bithomp.com/explorer/#{txid}
  address_url: https://bithomp.com/explorer/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.25, min_amount: 22, quick_max: 0}

- id: 4
  name: Litecoin
  code: ltc
  symbol: "Ł"
  type: coin
  precision: 8
  base_factor: 100_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: BTC
  rpc: http://ltcrpc:txGctHLt6uh9dB5Sakltc@172.31.42.46:9342
  info_url: https://coinmarketcap.com/currencies/litecoin
  blockchain: http://explorer.litecoin.net/tx/#{txid}
  address_url: http://explorer.litecoin.net/address/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.001, min_amount: 0.002, quick_max: 0}

- id: 5
  name: Bitcoin Cash
  code: bch
  symbol: "₿"
  type: coin
  precision: 8
  base_factor: 100_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: BTC
  rpc: http://bchrpc:txGctHLt6uh9dB5Sakbch@172.31.38.127:8342
  info_url: https://coinmarketcap.com/currencies/bitcoin-cash
  blockchain: https://explorer.bitcoin.com/bch/tx/#{txid}
  address_url: https://explorer.bitcoin.com/bch/address/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.001, min_amount: 0.002, quick_max: 0}

- id: 8
  name: Cardano
  code: ada
  symbol: "₳"
  type: coin
  precision: 6
  base_factor: 1_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: ADA
  rpc: https://172.31.44.41:8100
  info_url: https://coinmarketcap.com/currencies/cardano
  blockchain: https://cardanoexplorer.com/tx/#{txid}
  address_url: https://cardanoexplorer.com/address/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 1, min_amount: 4, quick_max: 0}
  ca_cert: '/home/deploy/.ssl/.ada/ca.crt'
  cert: '/home/deploy/.ssl/.ada/client.pem'
  p_key: '/home/deploy/.ssl/.ada/client.key'
  spending_password: AF2DE2E90DB9083AEC9ADC34FF2EDFC3F2346AB2DEF234D5ECEE34AC231CD23A
  backup_phrase:
    - couple
    - snow
    - step
    - physical
    - parrot
    - child
    - robust
    - bid
    - buzz
    - bottom
    - tunnel

- id: 9
  name: Tether USD
  code: usdt
  symbol: "USD₮"
  type: coin
  precision: 6
  base_factor: 1_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0xdac17f958d2ee523a2206206994597c13d831ec7'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/tether
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0xdac17f958d2ee523a2206206994597c13d831ec7?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 6.6, min_amount: 13.2, quick_max: 0}

- id: 10
  name: Paxos Standard
  code: pax
  symbol: "PAX"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0x8e870d67f660d95d5be530380d0ec0bd388289e1'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/paxos-standard-token
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0x8e870d67f660d95d5be530380d0ec0bd388289e1?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 1.8, min_amount: 3.6, quick_max: 0}

- id: 11
  name: Dash
  code: dash
  symbol: "Ð"
  type: coin
  precision: 8
  base_factor: 100_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: BTC
  rpc: http://dashrpc:txGctHLt6uh9dB5Sakdash@172.31.42.46:10008
  info_url: https://coinmarketcap.com/currencies/dash
  blockchain: https://explorer.dash.org/tx/#{txid}
  address_url: https://explorer.dash.org/address/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.002, min_amount: 0.004, quick_max: 0}

- id: 12
  name: Monero
  code: xmr
  symbol: "ɱ"
  type: coin
  precision: 6
  base_factor: 1_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: XMR
  rpc: http://xmrrpc:txGctHLt6uh9dB5Sakxmr@172.31.47.249:18092
  info_url: https://coinmarketcap.com/currencies/monero
  blockchain: https://moneroblocks.info/tx/#{txid}
  address_url: https://moneroblocks.info/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.0001, min_amount: 0.01, quick_max: 0}

- id: 13
  name: NEO
  code: neo
  symbol: "NEO"
  type: coin
  precision: 8
  base_factor: 100_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: NEO
  asset_id: '0xc56f33fc6ecfcd0c225c4ab356fee59390af8560be0e930faebe74a6daff7c9b'
  rpc: http://172.31.43.17:10342
  info_url: https://coinmarketcap.com/currencies/neo
  blockchain: https://neoscan.io/transaction/#{txid}
  address_url: https://neoscan.io/address/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0, min_amount: 1, quick_max: 0}

- id: 14
  name: Ethereum Classic
  code: etc
  symbol: "ξ"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: ETH
  rpc: http://172.31.37.12:8555
  info_url: https://coinmarketcap.com/currencies/ethereum-classic
  blockchain: http://etherhub.io/tx/#{txid}
  address_url: http://etherhub.io/addr/#{address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.01, min_amount: 0.02, quick_max: 0}

- id: 15
  name: NEM
  code: xem
  symbol: "XEM"
  type: coin
  precision: 8
  base_factor: 1_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: XEM
  rpc: http://172.31.40.119:7900
  info_url: https://coinmarketcap.com/currencies/nem
  blockchain: http://chain.nem.ninja/#/transfer/#{txid}
  address_url: http://chain.nem.ninja/#/account/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 4, min_amount: 8, quick_max: 0}

- id: 16
  name: GAS
  code: gas
  symbol: "GAS"
  type: coin
  precision: 8
  base_factor: 100_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: NEO
  asset_id: '0x602c79718b16e442de58778e148d0b1084e3b2dffd5de6b7b16cee7969282de7'
  rpc: http://172.31.43.17:10342
  info_url: https://coinmarketcap.com/currencies/neo
  blockchain: https://neoscan.io/transaction/#{txid}
  address_url: https://neoscan.io/address/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0, min_amount: 0.001, quick_max: 0}

- id: 17
  name: Basic Attention Token
  code: bat
  symbol: "BAT"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0x0d8775f648430679a709e98d2b0cb6250d2887ef'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/basic-attention-token
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0x0d8775f648430679a709e98d2b0cb6250d2887ef?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 6, min_amount: 12, quick_max: 0}

- id: 18
  name: OmiseGO
  code: omg
  symbol: "OMG"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0xd26114cd6EE289AccF82350c8d8487fedB8A0C07'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/omisego
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0xd26114cd6EE289AccF82350c8d8487fedB8A0C07?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.71, min_amount: 1.42, quick_max: 0}

- id: 19
  name: Bitcoin Gold
  code: btg
  symbol: "BTG"
  type: coin
  precision: 8
  base_factor: 100_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: BTC
  rpc: http://btgrpc:txGctHLt6uh9dB5Sakbtg@172.31.43.175:8342
  info_url: https://coinmarketcap.com/currencies/bitcoin-gold
  blockchain: https://explorer.bitcoild.org/insight/tx/#{txid}
  address_url: https://explorer.bitcoild.org/insight/address/#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.001, min_amount: 0.002, quick_max: 0}

- id: 20
  name: Augur
  code: rep
  symbol: "REP"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0x1985365e9f78359a9B6AD760e32412f4a445E862'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/augur
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0x1985365e9f78359a9B6AD760e32412f4a445E862?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.2, min_amount: 0.4, quick_max: 0}

- id: 21
  name: TrueUSD
  code: tusd
  symbol: "TUSD"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0x0000000000085d4780B73119b644AE5ecd22b376'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/trueusd
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0x0000000000085d4780B73119b644AE5ecd22b376?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 1.74, min_amount: 3.48, quick_max: 0}

- id: 22
  name: Chainlink
  code: link
  symbol: "LINK"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0x514910771af9ca656af840dff83e8264ecf986ca'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/chainlink
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0x514910771af9ca656af840dff83e8264ecf986ca?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.6, min_amount: 1.2, quick_max: 0}

- id: 23
  name: 0X
  code: zrx
  symbol: "ZRX"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0xe41d2489571d322189246dafa5ebde1f4699f498'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/0x
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0xe41d2489571d322189246dafa5ebde1f4699f498?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 5.9, min_amount: 11.8, quick_max: 0}

- id: 24
  name: Bitcoin Diamond
  code: bcd
  symbol: "BCD"
  type: coin
  precision: 8
  base_factor: 100_000_000
  min_confirm: 1
  max_confirm: 3
  api_client: BTC
  rpc: http://bcdrpc:txGctHLt6uh9dB5Sakbcd@172.31.34.192:8342
  info_url: https://coinmarketcap.com/currencies/bitcoin-diamond
  blockchain: http://explorer.btcd.io/#/TX?TX=#{txid}
  address_url: http://explorer.btcd.io/#/address?address=#{address}
  case_sensitive: true
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.01, min_amount: 0.02, quick_max: 0}

- id: 25
  name: Dent
  code: dent
  symbol: "DENT"
  type: coin
  precision: 8
  base_factor: 100_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0x3597bfd533a99c9aa083587b074434e61eb0a258'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/dent
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0x3597bfd533a99c9aa083587b074434e61eb0a258?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 1200, min_amount: 2400, quick_max: 0}

- id: 26
  name: Crypto.com
  code: mco
  symbol: "MCO"
  type: coin
  precision: 8
  base_factor: 100_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0xb63b606ac810a52cca15e44bb630fd42d8d1d83d'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/crypto-com
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0xb63b606ac810a52cca15e44bb630fd42d8d1d83d?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.31, min_amount: 0.62, quick_max: 0}

- id: 27
  name: StatusNetwork
  code: snt
  symbol: "SNT"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0x744d70fdbe2ba4cf95131626614a1763df805b9e'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/status
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0x744d70fdbe2ba4cf95131626614a1763df805b9e?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 65, min_amount: 130, quick_max: 0}

- id: 28
  name: USD Coin
  code: usdc
  symbol: "USDC"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/usd-coin
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 1.75, min_amount: 3.5, quick_max: 0}

- id: 29
  name: DGD
  code: dgd
  symbol: "DGD"
  type: coin
  precision: 8
  base_factor: 1_000_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0xe0b7927c4af23765cb51314a0e0521a9645f0e2a'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/digixdao
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0xe0b7927c4af23765cb51314a0e0521a9645f0e2a?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.07, min_amount: 0.14, quick_max: 0}

- id: 30
  name: StableUSD
  code: usds
  symbol: "USDS"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0xa4bdb11dc0a2bec88d24a3aa1e6bb17201112ebe'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/stableusd
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0xa4bdb11dc0a2bec88d24a3aa1e6bb17201112ebe?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 0.64, min_amount: 1.28, quick_max: 0}

- id: 31
  name: Decentraland
  code: mana
  symbol: "MANA"
  type: coin
  precision: 8
  base_factor: 1_000_000_000_000_000_000
  min_confirm: 1
  max_confirm: 3
  erc20_contract_address: '0x0f5d2fb29fb7d3cfee444a200298f468908cc942'
  api_client: ERC20
  rpc: http://172.31.46.110:8555
  info_url: https://coinmarketcap.com/currencies/decentraland
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/token/0x0f5d2fb29fb7d3cfee444a200298f468908cc942?a={address}
  case_sensitive: false
  deposit: {fee: 0, min_amount: 0}
  withdraw: {fee: 36, min_amount: 72, quick_max: 0}
