@import "bourbon";

@import 'vars/bootstrap';
@import 'vars/bootstrap_market';

@import 'bootstrap';
@import 'bootstrap-switch.min';

@import 'vars/basic';
@import 'vars/margin_market';

@import "font-awesome-sprockets";
@import 'font-awesome';
@import 'csshake.min';

@import 'layouts/basic';

@import 'market';

.label-loan_available { background-color: #ff9800; }

/* panel
------------------------------------------------ */
.panel {
  .panel-heading {
    padding: 8px;
    background-color: $panel-bg;
    span {
      font-size: 18px !important;
    }
  }
}

/* layout position
----------------------------------------------- */
#ask_entry, #bid_entry {
  height: $margin-entry-height;
}

#ticker {
  bottom: $gutter_4x + $margin-entry-height + $my-orders-height + $depths-height; right: $gutter;
}

#depths_wrapper {
  bottom: $gutter-3x + $my-orders-height + $margin-entry-height; right: $gutter;
}

#my_orders_wrapper {
  .dropdown-wrapper {
    bottom: $gutter-2x + $margin-entry-height; right: $order-book-width + $gutter;
  }
}

#my_orders {
  bottom: $gutter-2x + $margin-entry-height; right: $gutter;
}

#open_positions {
  left: $market-list-width + $gutter-2x;
  bottom: $gutter;
  right: $gutter;

  table {
    margin-bottom: 0;

    td, th {
      padding: 0 2px;
      border: none;
    }

    tr.highlight {
      background-color: #333;
    }
  }

  .action {
    text-decoration: underline;
    text-shadow: none;
    &:focus, &:hover {
      text-shadow: white 0 0 2px;
    }
  }
  .empty-row {
    position: absolute;
    top: 70%;
    width: 99%;
    height: 0;
    padding: 0;
    color: $gray-light;
    text-align: center;
  }

  .panel-body-head { border-bottom: 1px solid #333; }
}

#market_list {
  height: $margin-market-list-height;

  .panel {
    padding-bottom: $gutter*0.5;
  }

  .panel-body-content {
    height: $margin-market-list-height - $panel_table_header_high;
  }
}

#margin_info {
  position: absolute;
  top: $margin-market-list-height + $gutter_2x;
  left: $gutter;
  width: $market-list-width;
  height: $market-list-height;
  z-index: 999;
  .panel-body-head { border-bottom: 1px solid #333; }
}

#market_trades_wrapper {
  .dropdown-wrapper {
    top: $margin-market-list-height + $market-list-height + $gutter-4x;
  }
}

#open_positions > .mask { padding-top: 40px; }
#margin_info > .mask { padding-top: 50px; }
